<%= content_for(:page_header, 'Editar perfil') %>

<div class="container-pad my-5" data-controller='input'>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { wrapper: :line_form }, validate: true, html: { method: :put, data: { turbo: false } }) do |f| %>
  
    <%= f.input :cpf,
                label: 'CPF',
                input_html: { disabled: ''} %>
    <%= f.input :email,
                as: :string,
                label: 'E-mail',
                input_html: { disabled: '' } %>
    <%= f.input :first_name,
                validate: true,
                label: 'Nome',
                input_html: { autocomplete: "first_name" } %>
    <%= f.input :last_name,
                validate: true,
                label: 'Sobrenome',
                input_html: { autocomplete: "last_name"  } %>
    <%= f.input :birth_date,
                as: :string,
                validate: true,
                label: 'Data de nascimento',
                input_html: { autocomplete: "birth_date", class: 'flatpickr' } %>
    <%= f.input :phone,
                validate: true,
                label: 'Celular',
                input_html: { autocomplete: "phone",
                              data: { mask: 'phone' } } %>
    <%= f.input :current_password,
                label: 'Senha atual',
                wrapper: :line_form_password,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :password,
                label: 'Nova Senha',
                validate: false,
                wrapper: :line_form_password,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                validate: false,
                label: 'Repetir a senha',
                wrapper: :line_form_password,
                input_html: { autocomplete: "new-password" } %>
  
    <%= f.submit "Salvar", class: 'btn-blue round' %>
  <% end %>
</div>
