<%= content_for(:page_header, 'Cadastro') %>
<div class="container-pad devise" data-controller='multistep' data-action='popstate@window->multistep#showCurrentTab'>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div data-multistep-target='tab' class="tab">
      <h2>Crie sua conta</h2>
      <p>Estamos felizes por ver você aqui! Para se cadastrar, precisamos de algumas informações</p>
      <%= f.input :first_name,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name,
                  input_html: { autocomplete: "last_name"  } %>
      <%= f.input :cpf,
                  input_html: { autocomplete: "cpf"  } %>
    </div>
    <div id="access" data-multistep-target='tab' class="tab">
      <h2>Dados de acesso</h2>
      <p>Utilizamos essas informações para validar sua conta. <br />Garanta que elas estão corretas. </p>

      <%= f.input :email,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :phone,
                  input_html: { autocomplete: "phone" } %>
    </div>
    <div id="password" data-multistep-target='tab' class="tab">
      <h2>Senha</h2>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <button type="button" data-multistep-target='nextBtn' data-action='multistep#nextTab'>AVANÇAR</button>
  <% end %>
</div>
