<div id='nav'>
  <div>
    <%= link_to :back do %>
      <%= inline_svg_tag 'icons/arrow.svg' %>
      <p class="visibility-hidden">Voltar a página anterior</p>
    <% end %>
    <h3><%= content_for(:page_header) || "Box Surpresa" %></h3>
  </div>
  <% if controller_name == 'plans' || request.path == start_path %>
    <div class='nav-options'>
      <button type='button' class='menu-btn' data-bs-toggle="collapse" data-bs-target="#navOptions" aria-controls="navOptions" aria-expanded="false" aria-label="Abrir/Fechar menu de opções box surpresa">
        <%= inline_svg_tag 'icons/hamburger.svg' %>
        <p class="visibility-hidden">Menu de opções box surpresa</p>
      </button>
      <% if session["boxes"] %>
        <%= link_to new_plan_path(anchor: session["boxes"].values.select { |box_values| box_values.has_key?("items") && box_values["items"].blank? }.any? ? 'select-items' : 'select-category'), 
                    class: "shopcart", 
                    id: 'shopcart-link', 
                    data: { 'boxes-selected': session["boxes"] ? session["boxes"].keys.count : "" } do %>
          <%= inline_svg_tag 'icons/cart.svg', aria: { hidden: true } %>
          <p class="visibility-hidden">Carrinho de compras</p>
        <% end %>
      <% end %>
    </div>

    <div id='navOptions' class='nav-menu collapse'>
      <div>
        <% if current_user %>
          <% if current_user&.admin %>
            <%= link_to dashboard_path do %>
              <i class="fas fa-truck-loading"></i>
              <p>Administrar caixas</p>
              <i aria-hidden="true" class="fas fa-chevron-right"></i>
            <% end %>
          <% end %>
          <%= link_to my_box_path do %>
            <i class="fas fa-boxes"></i>
            <p>Meu BOX</p>
            <i aria-hidden="true" class="fas fa-chevron-right"></i>
          <% end %>
        <% end %>
        <%= link_to new_plan_path do %>
          <i class="fas fa-store"></i>
          <p>Adquirir nova caixa</p>
          <i aria-hidden="true" class="fas fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
