<div class="container dashboard-container">
  <h1 class="text-center py-3">BOXes</h1>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <% @boxes.each do |box| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading-<%= box.id %>">
          <button class="accordion-button collapsed" style="background-color:<%= box.color %> !important;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= box.id %>" aria-expanded="false" aria-controls="flush-collapse-<%= box.id %>">
            <%= cl_image_tag box.icon.key, width: 35, class:'me-3' %><%= box.name %>
          </button>
        </h2>
        <div id="flush-collapse-<%= box.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= box.id %>" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p><%= box.description %></p>
            <hr>
            <p>Valores:</p>
            <div class="row">
              <% box.plans.each do |k, v| %>
                <div class="col-6">
                  <p><%= k %>: R$<%= v['price'].to_s.insert(-3, ',') %></p>
                </div>
              <% end %>
            </div>
            <hr>
            <div id=<%= "box-#{box.id}-items" %>>
              <% box.box_items.each do |item|%>
                <%= render 'box_items/item', item: item %>
              <% end %>
            </div>

            <%= turbo_frame_tag "box-#{box.id}-new-item", src: new_box_item_path({box_item: @box_item, carrefour_box_id: box.id}) %>
            <p class="text-center"><%= link_to "apagar BOX", carrefour_box_path(box), method: :delete, class: 'btn-red text-center mt-3', data: { confirm: 'Tem certeza?' } %></p>
            <p class="text-center"><%= link_to 'editar BOX', '#', class: 'btn-orange mx-auto w-50', data: { 'bs-toggle': 'modal', 'bs-target': "#editBox#{box.id}Modal" } %></p>
            <%= render 'carrefour_boxes/edit', carrefour_box: box %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="text-center">
    <%= link_to 'Nova BOX', '#', class: 'btn-orange mx-auto w-50', data: { 'bs-toggle': 'modal', 'bs-target': '#newBoxModal' } %>
  </div>
</div>

<div class="modal" id="newBoxModal" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'carrefour_boxes/form', carrefour_box: @carrefour_box %>
      </div>
    </div>
  </div>
</div>
