<div class="container my-box-container">
  <h1 class="pb-3">Meu BOX:</h1>
  <% counter = @plans.size %>
  <% @plans.each_with_index do |(plan, boxes), i| %>
    <div class="plan-card my-3">
      <div class="plan-card-head">
        <span>Assinatura <%= (counter - i).to_s.rjust(2, "0") %></span>
      </div>
      <% boxes.each do |box, items| %>
        <div class="box-items row mx-auto" style="background: rgba(<%= box.color.match(/^#(..)(..)(..)$/).captures.map(&:hex).join(', ') %>, 0.25);">
          <div class="col-6">
            <span><b>BOX <%= box.name %>:</b></span>
          </div>
          <div class="col-6">
            <% items.each do |item| %>
              <span><%= item.name %></span>
            <% end %>
          </div>
          <div id="comment-container">
            <% if current_user.reviews.find_by(carrefour_box: box).nil? %>
              <h6 class='mt-3'><small>Gostou do produto? Deixe aqui o seu comentário</small></h6>
              <%= render 'reviews/form', carrefour_box: box, review: @review %>
            <% else %>
              <details>
              <%= render 'reviews/edit', carrefour_box: box, review: current_user.reviews.find_by(carrefour_box: box) %>
              <summary><small>Editar seu comentário</small></summary>
              </details>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= render 'plans/plan', plan: plan %>
    </div>
  <% end %>
</div>
