<% content_for(:page_header, 'Meu BOX') %>

<div class="container my-box-container">
  <% if @plan %>
    <% @boxes.each do |box, items| %>
      <div class="mybox-card" style="border: 1px solid <%= box.color %>">
        <div class="row mx-auto mybox-card-header" style="background: rgba(<%= box.color.match(/^#(..)(..)(..)$/).captures.map(&:hex).join(', ') %>, 0.7);">
          <%= link_to carrefour_box_path(box) do %>
            <p><b>BOX <%= box.name %></b></p>
          <% end %>
        </div>
        <p class="text-center py-2" style="color: <%= box.color %>"><%= items.map { |item| item.box_item.name }.join(', ') %></p>
        <div class="mybox-info">
          <p><b>Data de contratacão:</b></p>
          <p><%= @plan.created_at.strftime("%d/%m/%Y") %></p>
          <p><b>Tamanho:</b></p>
          <p><%= items.first.box_size %></p>
          <p><b>Valor:</b></p>
          <p>R$<%= box.plans[items.first.box_size]['price'].to_s.insert(-3, ',') %></p>
        </div>

        <div id="review-container-<%= box.id %>">
          <% if box.reviews.where(user: current_user).empty? %>
            <div class="text-center mt-2">
              <%= link_to 'Gostou do nosso produto? Deixe aqui o seu comentário.', '#', class: 'mx-auto',  data: { 'bs-toggle': 'offcanvas', 'bs-target': "#Box#{box.id}ReviewCanvas" } %>
            </div>
            <div class="container offcanvas offcanvas-end" id="Box<%= box.id %>ReviewCanvas" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
              <div class="pt-5 ms-auto">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <%= render 'reviews/new', carrefour_box: box, review: @review %>
            </div>
          <% else %>
            <%= render 'reviews/review', review: box.reviews.where(user: current_user).first %>
            <div class="container offcanvas offcanvas-end" id="Box<%= box.id %>EditReviewCanvas" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
              <div class="pt-5 ms-auto">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <%= render 'reviews/edit', carrefour_box: box, review: box.reviews.where(user: current_user).first %>
            </div>
          <% end %>
        </div>
        <div class="text-center pt-3">
          <%= link_to 'Editar box', '#', class: "text-danger", data: { 'bs-toggle': 'offcanvas', 'bs-target': "#Box#{box.id}EditCanvas" } %>
        </div>
        <div class="text-center">
          <%= link_to 'Cancelar box', cancel_box_plan_path({id: @plan.id, carrefour_box: box.id}), method: :patch, class: "text-danger",
          data: { confirm: "Tem  certeza que quer cancelar seu BOX?\nCom este cancelamento você perde o desconto concebidos referente a adesão de multiplos BOX."} %>
        </div>
        <div class="container offcanvas offcanvas-end" id="Box<%= box.id %>EditCanvas" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
          <div class="pt-5 ms-auto">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <%= render 'boxes/edit', plan: @plan, carrefour_box: box, items: items %>
        </div>
      </div>
    <% end %>

    <hr>
    <div class="pb-3 mybox-card">
      <p><b>Valor total da assinatura:</b></p>
      <p><%= humanized_money_with_symbol @plan.total_price %></p>
      <p><b>Endereço de envio:</b></p>
      <p><%= @plan.address.full_address %></p>
      <% if @plan.carrefour_card %>
        <p class="text-center text-success">(frete grátis com Cartão Carrefour!)</p>
      <% end %>

      <% if @plan.shipments.size.positive? %>
        <p><b>Envios anteriores:</b></p>
        <ul class="shipping">
          <% @plan.shipments.each do |shipment| %>
            <li class=""><%= shipment.created_at.strftime("%d/%m/%Y")%> - <%= link_to shipment.shipping_code, 'https://www2.correios.com.br/sistemas/rastreamento/' %></li>
          <% end %>
        </ul>
      <% else %>
        <span>Sua primeira caixa será enviada no próximo dia <b><%= @plan.ship_day %></b></span>
      <% end %>
      <div class="text-center pb-3 cancel-link">
        <%= link_to 'Cancelar Assinatura', plan_path(@plan), method: :delete, class: "text-danger", data: { confirm: 'Tem certeza?'} %>
      </div>
    </div>

  <% else %>
    <div class="mybox-card">
      <p>Você ainda não possui nenhuma box!</p>
      <p>Clique <%= link_to 'aqui', new_plan_path %> para contratar.</p>
    </div>
  <% end %>
</div>
