<div class="start-container text-center">
  <p>Todo mês uma caixa surpresa, customizada e recheada de produtos, entregues em sua casa.</p>
  <p style="text-align: left;">Adquira seu BOX:</p>

  <!-- cards -->
  <div class="box-card" style="background-color: #7A0997">
    <div class="d-flex">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <%= image_tag 'box-icons/happy-hour.png' %>
      </div>
      <div class="col ms-1">
        <div class="row pb-0 d-flex justify-content-between align-items-center">
          <div class="col-3">
            <span>Box</span>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <span>R$ 89.90</span>
            <span>R$ 69,90*</span>
          </div>
        </div>
        <div class="row">
          <span class="fs-3">Happy Hour</span>
        </div>
      </div>
    </div>

    <div>
      <p>Receba em sua casa um KIT para curtir um momento de distração, com bebidas, salgados e aperitivos.</p>
    </div>

    <div class="row box-card-footer">
      <span>*Valor referente ao plano anual</span>
    </div>
  </div>

  <div class="box-card" style="background-color: #E1357D">
    <div class="d-flex">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <%= image_tag 'box-icons/beauty-care.png' %>
      </div>
      <div class="col ms-1">
        <div class="row pb-0 d-flex justify-content-between align-items-center">
          <div class="col-3">
            <span>Box</span>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <span>R$ 89.90</span>
            <span>R$ 69,90*</span>
          </div>
        </div>
        <div class="row">
          <span class="fs-3">Beleza & Cuidado</span>
        </div>
      </div>
    </div>

    <div>
      <p>Que tal cuidar da sua beleza? Com o Box Beleza & Cuidado nunca foi tão facil e prático cuidar de você.</p>
    </div>

    <div class="row box-card-footer">
      <span>*Valor referente ao plano anual</span>
    </div>
  </div>

  <div class="box-card" style="background-color: #05977D">
    <div class="d-flex">
      <div class="col-2 d-flex align-items-center justify-content-center">
        <%= image_tag 'box-icons/right-recipe.png' %>
      </div>
      <div class="col ms-1">
        <div class="row pb-0 d-flex justify-content-between align-items-center">
          <div class="col-3">
            <span>Box</span>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <span>R$ 89.90</span>
            <span>R$ 69,90*</span>
          </div>
        </div>
        <div class="row">
          <span class="fs-3">Receita Certa</span>
        </div>
      </div>
    </div>

    <div>
      <p>Receba em sua residência todas os ingredientes para preparar sua receita diferente,tendo momentos agradáveis com seus familiares.</p>
    </div>

    <div class="row box-card-footer">
      <span>*Valor referente ao plano anual</span>
    </div>
  </div>

  <div class='mt-5'><%= link_to 'Eu quero', new_plan_path, class: 'btn-start' %></div>

  <div class="img-ruler"></div>

  <!-- infos -->
  <h2>O que é o BOX Surpresa?</h2>
  <p>BOX Surpresa é um programa personalizado de assinatura de diferentes categorias.
    Possui produtos exclusivos e selecionados de acordo com o seu perfil, trazendo comodidade e facilidade para a sua vida.</p>

  <h2>O que você recebe?</h2>
  <p>A cada caixa você tem uma experiencia surpreendente. Abaixo contamos um pouco mais pra você de cada categoria:</p>
  <p><b>BOX Happy Hour:</b> bebidas como cerveja, vinho, destilados, sucos e refrigerante. Além de saborosos aperitivos.</p>
  <p><b>BOX Beleza e Cuidado:</b> produtos para cuidados do rosto e corpo como hidratantes, esfoliantes e óleos. Além de produtos  para o cabelo e de esmaltaria.</p>
  <p><b>BOX Receita Certa:</b> ingredientes para que você possa realizar em sua residência os pratos tipicos de Chef.</p>

  <h2>Como funciona?</h2>
  <p>Escolha: um ou mais BOX de categorias disponiveis e o plano de assinatura (mensal, trimestral, semestral ou anual). Lembre-se que o valor dos itens serão superior ao valor pago.</p>
  <p>Descreva: nos informe quais são suas preferências para que possamos personalizar seu BOX baseando-se no seu gosto.</p>
  <p>Receba em casa: chegou a hora tão esperada, receber seu BOX em casa e desfrutar do conteúdo.</p>

  <h2>Mais vantagens?</h2>
  <p>Aduirindo mais de um BOX, você ganha 5% de desconto no 2º BOX e 10% de desconto no 3º BOX.</p>
  <p>Usando o cartão Carrefour você ganha ainda mais:</p>
  <p>Frete grátis</p>

  <div class='mt-5'><%= link_to 'Eu quero', new_plan_path, class: 'btn-start' %></div>

  <div class="img-ruler"></div>
</div>
