<div class="start-container text-center">
  <p>Todo mês uma caixa surpresa, customizada e recheada de produtos, entregues em sua casa.</p>
  <p style="text-align: left;">Adquira seu BOX:</p>

  <!-- cards -->

  <% @boxes.each do |box| %>
    <% if box.reviews.count > 0 %>
      <%= link_to carrefour_box_path(box) do %>
        <div class="box-card" style="background-color: <%= box.color %>">
          <div class="d-flex">
            <div class="col-2 d-flex align-items-center justify-content-center">
              <%= cl_image_tag box.icon.key, width: 35, class:'me-3' %>
            </div>
            <div class="col ms-1">
              <div class="row pb-0 d-flex justify-content-between align-items-center">
                <div class="col-3">
                  <span>Box</span>
                </div>
                <div class="col-8 d-flex justify-content-end card-price">
                  <span>R$ <%= box.plans['P']['price'].to_s.insert(-3, ',') %>*</span>
                </div>
              </div>
              <div class="row">
                <span class="fs-3"><%= box.name %></span>
              </div>
            </div>
          </div>

          <div>
            <p><%= box.description %></p>
          </div>

          <div class="row box-card-footer">
            <span>*Valor referente ao BOX pequeno</span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="box-card" style="background-color: <%= box.color %>">
        <div class="d-flex">
          <div class="col-2 d-flex align-items-center justify-content-center">
            <%= cl_image_tag box.icon.key, width: 35, class:'me-3' %>
          </div>
          <div class="col ms-1">
            <div class="row pb-0 d-flex justify-content-between align-items-center">
              <div class="col-3">
                <span>Box</span>
              </div>
              <div class="col-8 d-flex justify-content-end card-price">
                <span>R$ <%= box.plans['P']['price'].to_s.insert(-3, ',') %>*</span>
              </div>
            </div>
            <div class="row">
              <span class="fs-3"><%= box.name %></span>
            </div>
          </div>
        </div>

        <div>
          <p><%= box.description %></p>
        </div>

        <div class="row box-card-footer">
          <span>*Valor referente ao BOX pequeno</span>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class='mt-5 mx-3'><%= link_to 'Eu quero', new_plan_path, class: 'btn-orange' %></div>

  <div class="img-ruler"></div>

  <!-- infos -->
  <h2>O que é o BOX Surpresa?</h2>
  <p>BOX Surpresa é um programa personalizado de assinatura de diferentes categorias. Possui produtos exclusivos e selecionados de acordo com o seu perfil, trazendo comodidade e facilidade para a sua vida. </p>

  <h2>O que você recebe?</h2>
  <p>A cada caixa você tem uma experiencia surpreendente. Abaixo contamos um pouco mais pra você de cada categoria:</p>
  <p><b>BOX Happy Hour:</b> bebidas como cerveja, vinho, destilados, sucos e refrigerante. Além de saborosos aperitivos.</p>
  <p><b>BOX Beleza e Cuidado:</b> produtos para cuidados do rosto e corpo como hidratantes, esfoliantes e óleos. Além de produtos  para o cabelo e de esmaltaria.</p>
  <p><b>BOX Receita Certa:</b> ingredientes para que você possa realizar em sua residência os pratos tipicos de Chef.</p>

  <h2>Como funciona?</h2>
  <p>Escolha: um ou mais BOX com tamanhos  e categorias que te agradem. Lembre-se que o valor dos itens serão superior ao valor pago.</p>
  <p>Descreva: nos informe quais são suas preferências para que possamos personalizar seu BOX baseando-se no seu gosto.</p>
  <p>Receba em casa: chegou a hora tão esperada, receber seu BOX em casa e desfrutar do conteúdo.</p>

  <h2>Mais vantagens?</h2>
  <p>Adquirindo mais de um BOX, você ganha 5% de desconto no 2º BOX e 10% de desconto no 3º BOX.</p>
  <p>Usando o cartão Carrefour você ganha ainda mais:</p>
  <p>Frete grátis</p>

  <div class='mt-5 mx-3'><%= link_to 'Eu quero', new_plan_path, class: 'btn-orange' %></div>

  <div class="img-ruler"></div>
</div>
