<div class="container">

  <div id='session_form' class="session">
    <div id="sessionHeaders">
      <h3>Cadastre-se</h3>
      <h2>ou acesse sua conta</h2>
    </div>

    <%= image_tag 'session_icon.png' %>

    <p>Para começar, precisamos do seu CPF ou e-mail</p>
    <%= form_for(:user, url: session_path(:user)) do |f| %>
      <div class="form-float">
        <%= f.text_field :login, autofocus: true, autocomplete: "email", placeholder: 'Digite seu CPF ou e-mail' %>
        <%= f.label :login, 'Digite seu CPF ou e-mail' %><br />
      </div>

      <div class="form-float">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Senha' %>
        <%= f.label :password, 'Senha' %>
      </div>

      <div class="actions">
        <%= f.submit "Ok, vamos lá", class: 'btn-blue', data: { disable_with: false } %>
      </div>
    <% end %>
    <%= link_to 'Criar nova conta', new_user_registration_path %>
  </div>

</div>
