<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-home fa-stack-1x fa-inverse"></i>
      </span>
      <p class="text-center">Endereço</p>
    </div>
    <span class="mt-4 m-4">
      <i class="fas fa-arrow-right fa-3x"></i>
    </span>
    <div class="row">
      <span class="fa-stack fa-3x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-credit-card fa-stack-1x fa-inverse"></i>
      </span>
      <p class="text-center">Pagamento</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      <h1><%= "Receber em '#{@order.plan.address.name}':"%></h1>
      <div class="">
        <p><%= "Endereço: #{@order.plan.address.street}, #{@order.plan.address.number}"%></p>
        <p><%= "Cidade: #{@order.plan.address.city}-#{@order.plan.address.state} "%></p>
        <p><%= "CEP: #{@order.plan.address.cep}" %></p>
      </div>
      <div class="text-center">
        <button id="pagar" class="btn-dark-blue">Adicionar cartão</button>
      </div>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pagar');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
