<div class="container">
  <div class="d-flex justify-content-center">
    <i class="fas fa-home"></i>
    <i class="fas fa-arrow-right"></i>
    <i class="fas fa-credit-card"></i>
  </div>
  <div class="row py-4">
    <div class="col">
      <h1>Receber no endereço:</h1>
      <div class="">
        <p><%= current_user.addresses.where(main: true).first.name %></p>
        <p><%= "#{current_user.addresses.where(main: true).first.street}, #{current_user.addresses.where(main: true).first.number}"%></p>
        <p><%= "#{current_user.addresses.where(main: true).first.city}-#{current_user.addresses.where(main: true).first.state} "%></p>
        <p><%= "CEP: #{current_user.addresses.where(main: true).first.cep}" %></p>
      </div>
      <button id="pagar" class="btn btn-primary">Pagar</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pagar');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
