<div class="plan-info pb-3" id="<%= dom_id plan %>">
  <p>Plano: <%= plan.category %></p>
  <p>Valor: <%= humanized_money_with_symbol plan.price %></p>
  <p>Data de contratacão: <%= plan.created_at.strftime("%d/%m/%Y") %></p>
  <p>Data de expiração: <%= plan.expires_at.strftime("%d/%m/%Y") %></p>

  <div class="text-center pb-3">
    <%= link_to "#{plan.auto_renew ? 'Cancelar' : 'Ativar'} Renovação Automática", toggle_auto_renew_plan_path(plan), method: :put, class: "text-danger", data: { confirm: 'Tem certeza?'} %>
  </div>
</div>
