<div class="container" data-controller='new-plan'>
  <h2 class='text-center pb-3'>Selecione suas preferências</h2>

  <%= form_with(url: shopcart_path, local: true, html: {class: 'd-flex row row-cols-lg-auto g-3 align-items-center', 'data-turbo': false, data: { action: 'input->new_plan#updateNextBtn' } }) do %>
    <div id="select-box" class="tab current-tab" data-new-plan-target='tab'>
      <%= field_set_tag nil do %>
        <% @boxes.each do |box| %>
          <div>
            <%= check_box_tag "box[#{box.downcase.gsub(' ', '_')}]", box.downcase.gsub(' ', '_'), data: { action: 'change->new_plan#showBoxOptions' } %>
            <%= label_tag "box[#{box.downcase.gsub(' ', '-')}]", box, class:'' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id='select-items' class="tab current-tab" data-new-plan-target='tab'>
      <% @items.each do |box, items| %>
        <%= field_set_tag do %>
          <h3>Box <%= box.name %></h3>
          <% items.each do |item| %>
            <div class="form-check">
              <%= check_box_tag "boxes[#{box.name}][]", item.id, false, class: 'form-check-input' %>
              <%= label_tag "boxes[#{box.name}]", item.name, class:'form-check-label' %>
            </div>
          <% end %>
        <% end %>
        <hr>
      <% end %>
    </div>
      <button type='button' data-new-plan-target="nextBtn" disabled>Continuar</button>
  <% end %>
</div>
