<div class="container">
  <h1 class='text-center pb-3'>Selecione suas preferências</h1>

  <%= form_with(url: plans_path, local: true, html: {class: 'd-flex row row-cols-lg-auto g-3 align-items-center', 'data-turbo': false }) do %>
    <div class="col-12">
      <% @items.each do |box, items| %>
        <%= field_set_tag do %>
          <h3>Box <%= box %></h3>
          <% items.each do |item| %>
            <div class="form-check">
              <%= check_box_tag "boxes[#{box}][]", item.id, false, class: 'form-check-input' %>
              <%= label_tag "boxes[#{box}]", item.item_name, class:'form-check-label' %>
            </div>
          <% end %>
        <% end %>
        <hr>
      <% end %>
      <div class="pb-3">
        <%= select_tag "category", options_for_select(Plan::CATEGORIES.keys), class: 'form-select' %>
      </div>
      <%= submit_tag 'Assinar', class: 'btn btn-dark w-100' %>
    </div>
  <% end %>
</div>

