<div class="row d-flex justify-content-center">
  <div class="card text-dark bg-light mb-3">
    <div class="text-center card-header"> Meu Carrinho
    </div>
    <div class="card-body">
      <p><%= "Valor do Frete: #{humanized_money_with_symbol @plan.shipment}"%></p>
      <p><%= "Valor Total: #{humanized_money_with_symbol @plan.price}" %></p>
      <% @plan.box_items.group_by(&:carrefour_box).each do |box, items| %>
        <h5 class="card-title"><%= box.name %></h5>

        <ul>
          <% items.each do |item| %>
            <div class="row">
              <div class="col-6">
                <li class="card-text"><%= item.name %></li>
              </div>
            </div>
          <% end %>
        </ul>
      <% end %>
      <%= simple_form_for @plan, url: plan_path(@plan.id) do |f| %>
        <%= f.input :carrefour_card, as: :boolean, label: 'Pagar com cartão carrefour', input_html: { onchange:"this.form.submit()" } %>
      <% end %>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'plan_id', @plan.id %>
        <%= submit_tag 'Próximo', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
